html {
    font-size: 62.5%;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: rgba(0, 0, 0, 0.808);
    padding: 1rem 0;
}

header .wrap {
    max-width: 105rem;
    margin: auto;
}

header .banner {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

header .banner li {
    font-size: 1.5rem;
    align-self: center;
}

header .banner a {
    text-decoration: none;
    color: rgb(196, 195, 195);
}

header .banner a:hover {
    color: rgb(255, 255, 255);
}

@media only screen and (max-width: 950px) {


    header .banner {
        display: none;
    }
}
.sticky {
    position: fixed;
}

section.s1 {
    background-color: rgb(241, 241, 241);
}

section.s1 .bh-msg {
    text-align: center;
    margin: auto;
    font-size: 1.3rem;
    width: 80%;
} 

section.s1 .bh-msg p {
    margin: 0;
    padding: 1.3rem 0;
}

section.s1 .bh-msg a {
    text-decoration: none;
    color: rgb(0, 119, 255);
}

section.s2 div {
    height: 70rem;
    background-image: url("media/pic1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
    text-align: center;
    margin: auto;
}

section.s2 h1 {
    margin: 0;
    padding-top: 5rem;
    font-size: 5.5rem;
    font-weight: 550;
}

section.s2 h2 {
    font-size: 2.75rem;
    font-weight: lighter;
    margin: 1rem 0;
}

section.s2 h3 {
    font-size: 1.7rem;
    font-weight: lighter;
    line-height: 150%;
    width: 40rem;
    text-align: center;
    margin: auto;
    padding-bottom: 1.75rem;
}

section.s2 span {
    font-size: 2rem;
    padding: 2rem;
    color: rgb(50, 146, 255);
}

section.s2 span:hover {
    text-decoration: underline;
}

section.s2 a {
    text-decoration: none;
}

section.s3 div {
    height: 70rem;
    background-image: url("media/pic2.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    margin-top: 1rem;
}

section.s3 a {
    text-decoration: none;
}

section.s3 h1 {
    color: white;
    font-size: 5rem;
    margin: 0;
    padding-top: 6rem;
}

section.s3 h2 {
    color: white;
    font-size: 2.5rem;
    font-weight: lighter;
    margin: 0;
    margin: 1.5rem auto;
}

section.s3 p {
    color: rgb(145, 145, 145);
    font-size: 1.75rem;
    font-weight: lighter;
    margin: 0;
    padding-top: 1rem;
    line-height: 100%;
}

section.s3 span {
    color: rgb(50, 146, 255);
    display: inline-block;
    margin: 3rem 2rem;
    font-size: 2rem;
}

section.s3 span:hover {
    text-decoration: underline;
    cursor: pointer;
}

section.s3 span::after {
    content: " >";
}

section.s4 div {
    height: 70rem;
    background-image: url("media/pic3.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    margin-top: 1rem;
}

section.s4 a {
    text-decoration: none;
}

section.s4 h1 {
    padding-top: 5rem;
    font-size: 5.5rem;
    max-width: 60rem;
    margin: auto;
    color: black;
}

section.s4 span {
    font-size: 2rem;
    margin-top: 3rem;
    color: rgb(50, 146, 255);
}

section.s4 span:hover {
    text-decoration: underline;
}

section.s4 p {
    display: inline-block;
    font-size: 2rem;
    color: rgb(50, 146, 255);
}

section.s5 div {
    background-image: url(media/pic4.jpg);
    height: 70rem;
    background-position: center;
    background-size: cover;
    text-align: center;
    margin-top: 1rem;
}

section.s5 a {
    text-decoration: none;
}

section.s5 h1 {
    color: white;
    font-size: 5rem;
    padding-top: 4rem;
    margin-top: 0;
    margin-bottom: 0;
}

section.s5 h2 {
    color: white;
    font-size: 2.5rem;
    font-weight: lighter;
    margin-top: 0.25rem;
}

section.s5 span {
    color: rgb(50, 146, 255);
    font-size: 2rem;
    padding-right: 3rem;
} 

section.s5 span:hover {
    text-decoration: underline;
}

section.s6 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

section.s6 a {
    text-align: center;
    width: 50%;
    text-decoration: none;
    display: block;
}

section.s6 div.left {
    background-image: url(media/pic5.jpg);
    height: 55rem;
    background-position: center;
    background-size: cover;
    text-align: center;
    margin-top: 1rem;
}

section.s6 div.right {
    background-image: url(media/pic6.jpg);
    height: 55rem;
    background-position: center;
    background-size: cover;
    text-align: center;
    margin-top: 1rem;
}

section.s6 div.left h1 {
    font-size: 4.5rem;
    color: black;
    margin-top: 0;
    padding-top: 6rem;
    margin-bottom: 0;
}

section.s6 div.right h1 {
    font-size: 3rem;
    color: white;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 4rem;
}

section.s6 div.left h2 {
    font-size: 2rem;
    font-weight: lighter;
    margin-top: 0;
    color: rgb(80, 80, 80);
}

section.s6 div.right h2 {
    font-size: 2rem;
    font-weight: lighter;
    margin-top: 3rem;
    color: rgb(255, 255, 255);
}

section.s6 span {
    color: rgb(50, 146, 255);
    font-size: 2rem;
    padding-right: 3rem;
}

section.s6 span:hover {
    text-decoration: underline;
}