html {
    font-size: 62.5%;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: rgba(0, 0, 0, 0.808);
    padding: 1rem 0;
}

header .wrap {
    display: flex;
    flex-wrap: wrap;
    width: 105rem;
    margin: auto;
}

header .logo-l, header .logo-r{
    margin: auto;
    filter: invert(1);
}

header .logo-r a, header .logo-l a {
    color: rgb(48, 48, 48);
}

header .logo-r a:hover, header .logo-l a:hover {
    color: rgb(0, 0, 0);
}

header .banner {
    list-style-type: none;
    margin: 0 0;
    padding-left: 0;
}

header .banner li {
    display: inline-block;
    font-size: 1.5rem;
    padding: 0 3.5rem;
    padding-top: 0.5rem;
}

header .banner a {
    text-decoration: none;
    color: rgb(196, 195, 195);
}

header .banner a:hover {
    color: rgb(255, 255, 255);
}

.sticky {
    position: fixed;
}

section.s1 {
    background-color: rgb(241, 241, 241);
}

section.s1 .bh-msg {
    text-align: center;
    margin: auto;
    font-size: 1.3rem;
    width: 100rem;
} 

section.s1 .bh-msg p {
    margin: 0;
    padding: 1.3rem 0;
}

section.s1 .bh-msg a {
    text-decoration: none;
    color: rgb(0, 119, 255);
}

section.s2 .backdiv {
    height: 100rem;
    width: 100%;
}

section.s2 .wrap1 {
    text-decoration: none;
    color: black;
    text-align: center;
    margin: auto;
}

section.s2 .wrap1 {
    width: 40rem;
    margin: auto;
}

section.s2 h1 {
    margin: 0;
    padding-top: 5rem;
    font-size: 5.5rem;
    font-weight: 550;
}

section.s2 h2 {
    font-size: 2.75rem;
    font-weight: lighter;
    margin: 1rem 0;
}

section.s2 h3 {
    font-size: 1.7rem;
    font-weight: lighter;
    line-height: 150%;
}

section.s2 .wrap2 {
    font-size: 1.75rem;
    text-align: center;
    position: relative;
    right: 1%;
    color: rgb(0, 119, 255);
    width: 100%;
}

section.s2 .wrap2 a {
    text-decoration: none;
    color: rgb(0, 119, 255);
    padding: 2rem;
}

section.s2 .wrap2 .al {
    padding-right: 1rem;
}

section.s2 .wrap2 .ar {
    padding-left: 0;
}

section.s2 .wrap2 .al:hover {
    text-decoration: underline;
}

section.s2 .wrapa {
    text-decoration: none;
}

section.s2 .wrapa div {
    height: 24rem;
}

